extends ./base.jade

block stylesheets
    link(rel='stylesheet', href=url_for('simple_page.static', filename='stylesheets/nerve.css'))

block scripts
    script.
        var nerve = !{nervous_system};
        var availableNerves = !{available_nerves};
    script(src=url_for('simple_page.static', filename='scripts/nerve.js'))
    

block content
    .container(ng-app='Boss')
        .jumbotron
            h1 Nervous system

        form(method='post', ng-submit='submit()', ng-controller='NervousSystemController')
            .form-group
                label Name
                input.form-control(type='text', name='name', placeholder='Enter nervous system name', ng-model='nerve.name')

            .form-group
                label Class
                select.form-control(ng-model='nerve.class', ng-options='c as c for c in availableNerveClasses')
            
            for system in systems
                div(ng-show='nerve.class=="#{system['class']}"')
                    .form-group
                        label Description
                        .description=system['description']
                    for field in system['setup']
                        .form-group
                            label=field['message']
                            if field['type'] == 'input'
                                input.form-control(ng-model='systems["#{system['class']}"].configuration["#{field['name']}"]')

            button.btn.btn-info(type="submit") Save