extends ./base.jade

block content
    .container(ng-app='Boss')
        .jumbotron
            h1 Sensors
            a(href=url_for("simple_page.sensor", index=-1))
                .btn.pull-right.btn-info Add sensor

        table.table.table-striped
            thead
                tr
                    th #
                    th Name
                    th Class
                    th
            tbody
                each item in sensors
                        tr
                            td=item.index
                            td
                                a(href=url_for("simple_page.sensor", index=item.index))=item.name
                            td=item.class
                            td
                                form(method="post", action=url_for('simple_page.remove_object', component_type="sensors", index=item.index))
                                    button.btn.btn-danger(type="submit") Remove
