extends ./edit.jade

block stylesheets
    {{ super() }}
    link(rel='stylesheet', href=url_for('simple_page.static', filename='stylesheets/sensor.css'))

block scripts
    script.
        var sensor = !{sensor};
        var availableSensors = !{available_sensors};
        var availablePostprocessors = !{available_postprocessors};
    script(src=url_for('simple_page.static', filename='scripts/sensor.js'))
    {{ super () }}

block content
    .container(ng-app='Boss', ng-controller='SensorController')
        form(method='post', ng-submit='submit()')
            .jumbotron
                h1(ng-bind="obj.name")
                button.btn.btn-info.pull-right(type="submit") Save

            tabset
                tab(heading="Sensor details")
                    .form-group
                        label Name
                        input.form-control(type='text', name='name', placeholder='Enter sensor name', ng-model='obj.name')

                    .form-group
                        label Class
                        if editing
                            p(ng-bind="obj.class")
                        else
                            select.form-control(ng-model='obj.class', ng-options='c as c for c in availableSensorClasses')
                    {% include "./systems.jade" %}
                tab(heading="Post processors") 
                    p Remember that order matters in post processors. You should probably make sure that each post processor's input matches the preceding output. Most likely you'll also want the last post processor to output a command or a string

                    {% include "./postprocessors.jade" %}


        